.Header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(30, 14, 175);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60px;
  margin-bottom: 10px;
}

.button {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

#fibermodal {
  display: "flex";
  flex-direction: "column";
}
#fibermodal > * {
  margin-top: 5px;
}
